{% extends 'base.html' %} {% block header %}
<h1>{% block title %}New Post{% endblock %}</h1>
{% endblock %} {% block content %}
<form method="post flex flex-col">
	<section aria-label="rarity">
		<img
			id="rarityIcon"
			src="{{ url_for('static', filename='icons/rarity_green.png') }}"
			alt="rarity icon"
			class="rarity-icon"
		/>
		<select name="rarity" id="rarity" onchange="updateRarityIcon(this.value)">
			<option value="blue" label="Common">Common</option>
			<option value="green" label="Masterwork" selected>Masterwork</option>
			<option value="rare" label="Rare">Rare</option>
		</select>
	</section>
	<div class="grid grid-cols-4"></div>
	<div class="mithril"></div>
	<label for="o_mithril">Mithril</label>
	<input
		name="o_mithril"
		id="o_mithril"
		value="{{ request.form['o_mithril'] }}"
		type="number"
		required
	/>
	<label for="body">Body</label>
	<textarea name="body" id="body">{{ request.form['body'] }}</textarea>
	<input type="submit" value="Save" />
</form>
<script>
	function updateRarityIcon(rarity) {
		const iconElement = document.getElementById("rarityIcon");
		iconElement.src = `{{ url_for('static', filename='icons/') }}rarity_${rarity}.png`;
		iconElement.alt = `${rarity} rarity icon`;
	}
</script>
{% endblock %}
