{% extends 'base.html' %} {% block content %}
<h1 class="text-2xl mb-8">
	{% block title %}Welcome <span class="text-amber-600 font-bold">{{ g.user.username }}</span>{%
	endblock %}
</h1>
<form method="post" action="{{ url_for('user.create') }}">
	<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 mb-4 border-b border-zinc-800">
		<section aria-label="rarity" class="flex pb-4">
			<img
				id="rarityIcon"
				src="{{ url_for('static', filename='icons/rarity_green.png') }}"
				alt="rarity icon"
				class="rarity-icon size-12 mr-2"
			/>
			<div>
				<label class="block mb-1" for="rarity">Type</label>
				<select name="rarity" id="rarity" onchange="updateRarityIcon(this.value)">
					<option value="blue" label="Common">Common</option>
					<option value="green" label="Masterwork" selected>Masterwork</option>
					<option value="rare" label="Rare">Rare</option>
				</select>
			</div>
		</section>
		<section
			aria-label="rarity amount"
			class="flex flex-col items-end sm:items-start justify-between col-span-1 pb-4"
		>
			<label class="" for="amount">Amount</label>
			<input
				class="text-right px-2 w-20 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
				name="amount"
				id="amount"
				value="0"
				type="number"
			/>
		</section>
	</div>
	<div
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pb-4 mb-4 border-b border-zinc-800"
	>
		<section class="flex mithril col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}mithril.png"
					alt="Mithril Ore"
					onclick="incrementStack('mithril')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="mithril">Mithril</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="mithril"
						id="mithril"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_mithril">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_mithril"
						type="number"
						value="0"
						name="stack_mithril"
					/>
				</section>
			</div>
		</section>
		<section class="flex oric col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}oric.png"
					alt="Orichalcum Ore"
					onclick="incrementStack('oric')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="oric">Orichalcum</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="oric"
						id="oric"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_oric">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_oric"
						type="number"
						value="0"
						name="stack_oric"
					/>
				</section>
			</div>
		</section>
		<section class="flex elder col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}elder.png"
					alt="Elder Wood"
					onclick="incrementStack('elder')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="elder">Elder</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="elder"
						id="elder"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_elder">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_elder"
						type="number"
						value="0"
						name="stack_elder"
					/>
				</section>
			</div>
		</section>
		<section class="flex ancient col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}ancient.png"
					alt="Ancient Wood"
					onclick="incrementStack('ancient')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="ancient">Ancient</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="ancient"
						id="ancient"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_ancient">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_ancient"
						type="number"
						value="0"
						name="stack_ancient"
					/>
				</section>
			</div>
		</section>

		<section class="flex silk col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}silk.png"
					alt="Silk Scrap"
					onclick="incrementStack('silk')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="silk">Silk</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="silk"
						id="silk"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_silk">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_silk"
						type="number"
						value="0"
						name="stack_silk"
					/>
				</section>
			</div>
		</section>
		<section class="flex gossamer col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}gossamer.png"
					alt="Gossamer Scrap"
					onclick="incrementStack('gossamer')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="gossamer">Gossamer</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="gossamer"
						id="gossamer"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_gossamer">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_gossamer"
						type="number"
						value="0"
						name="stack_gossamer"
					/>
				</section>
			</div>
		</section>
		<section class="flex thick col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}thick.png"
					alt="Thick Leather"
					onclick="incrementStack('thick')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="thick">Thick</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="thick"
						id="thick"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_thick">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_thick"
						type="number"
						value="0"
						name="stack_thick"
					/>
				</section>
			</div>
		</section>
		<section class="flex hardened col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}hardened.png"
					alt="Hardened Leather"
					onclick="incrementStack('hardened')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="hardened">Hardened</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="hardened"
						id="hardened"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_hardened">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_hardened"
						type="number"
						value="0"
						name="stack_hardened"
					/>
				</section>
			</div>
		</section>
		<section class="flex lucentmote col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}lucentmote.png"
					alt="Lucent Mote"
					onclick="incrementStack('lucentmote')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="" for="lucentmote">Lucent Mote</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="lucentmote"
						id="lucentmote"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_lucentmote">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_lucentmote"
						type="number"
						value="0"
						name="stack_lucentmote"
					/>
				</section>
			</div>
		</section>
		<section class="flex reclaimedmetal col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}reclaimedmetal.png"
					alt="Reclaimed Metal"
					onclick="incrementStack('reclaimedmetal')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="reclaimedmetal">Reclaimed Metal</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="reclaimedmetal"
						id="reclaimedmetal"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_reclaimedmetal">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_reclaimedmetal"
						type="number"
						value="0"
						name="stack_reclaimedmetal"
					/>
				</section>
			</div>
		</section>
		<section class="flex scontrol col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}scontrol.png"
					alt="Sigil of Control"
					onclick="incrementStack('scontrol')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="scontrol">Control Sigil</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="scontrol"
						id="scontrol"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_scontrol">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_scontrol"
						type="number"
						value="0"
						name="stack_scontrol"
					/>
				</section>
			</div>
		</section>
		<section class="flex senhancement col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}senhancement.png"
					alt="Sigil of Enhancement"
					onclick="incrementStack('senhancement')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full flex-auto">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="senhancement">Enhancement Sigil</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="senhancement"
						id="senhancement"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_senhancement">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_senhancement"
						type="number"
						value="0"
						name="stack_senhancement"
					/>
				</section>
			</div>
		</section>
		<section class="flex spain col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}spain.png"
					alt="Sigil of Pain"
					onclick="incrementStack('spain')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="spain">Pain Sigil</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="spain"
						id="spain"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_spain">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_spain"
						type="number"
						value="0"
						name="stack_spain"
					/>
				</section>
			</div>
		</section>
		<section class="flex cbrilliance col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}cbrilliance.png"
					alt="Charm of Brilliance"
					onclick="incrementStack('cbrilliance')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="cbrilliance">Brilliance Charm</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="cbrilliance"
						id="cbrilliance"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_cbrilliance">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_cbrilliance"
						type="number"
						value="0"
						name="stack_cbrilliance"
					/>
				</section>
			</div>
		</section>
		<section class="flex cpotence col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}cpotence.png"
					alt="Charm of Potence"
					onclick="incrementStack('cpotence')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="cpotence">Potence Charm</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="cpotence"
						id="cpotence"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_cpotence">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_cpotence"
						type="number"
						value="0"
						name="stack_cpotence"
					/>
				</section>
			</div>
		</section>
		<section class="flex cskill col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}cskill.png"
					alt="Charm of Skill"
					onclick="incrementStack('cskill')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="cskill">Skill Charm</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="cskill"
						id="cskill"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_cskill">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_cskill"
						type="number"
						value="0"
						name="stack_cskill"
					/>
				</section>
			</div>
		</section>
		<section class="flex luck10 col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}luck10.png"
					alt="Fine Essence of Luck"
					onclick="incrementStack('luck10')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="luck10">10 Luck</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="luck10"
						id="luck10"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_luck10">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_luck10"
						type="number"
						value="0"
						name="stack_luck10"
					/>
				</section>
			</div>
		</section>
		<section class="flex luck50 col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}luck50.png"
					alt="Masterwork Essence of Luck"
					onclick="incrementStack('luck50')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="luck50">50 Luck</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="luck50"
						id="luck50"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_luck50">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_luck50"
						type="number"
						value="0"
						name="stack_luck50"
					/>
				</section>
			</div>
		</section>
		<section class="flex luck100 col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}luck100.png"
					alt="Rare Essence of Luck"
					onclick="incrementStack('luck100')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="luck100">100 Luck</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="luck100"
						id="luck100"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_luck100">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_luck100"
						type="number"
						value="0"
						name="stack_luck100"
					/>
				</section>
			</div>
		</section>
		<section class="flex luck200 col-span-1">
			<div class="relative flex-none mr-2">
				<img
					class="size-12 shadow cursor-pointer"
					src="{{ url_for('static', filename='icons/') }}luck200.png"
					alt="Exotic Essence of Luck"
					onclick="incrementStack('luck200')"
				/>
				<p class="absolute -top-1 right-1 font-bold text-white pointer-events-none">+</p>
			</div>
			<div class="flex flex-col w-full">
				<section class="flex justify-between items-center gap-2">
					<label class="truncate" for="luck200">200 Luck</label>
					<input
						class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						name="luck200"
						id="luck200"
						value="0"
						type="number"
						max="250"
					/>
				</section>
				<section class="flex justify-between items-center gap-2">
					<label for="stack_luck200">Stacks</label>
					<input
						class="text-right px-2 w-12 border border-transparent [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
						id="stack_luck200"
						type="number"
						value="0"
						name="stack_luck200"
					/>
				</section>
			</div>
		</section>
	</div>
	<section
		class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 pb-4 mb-4 border-b border-zinc-800"
	>
		<section class="flex flex-col rares col-span-1 gap-1">
			<p class="text-yellow-400">Rares</p>
			<section class="flex justify-between">
				<label for="rare">Amount</label>
				<input
					class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
					name="rare"
					id="rare"
					value="0"
					type="number"
				/>
			</section>
			<section class="flex justify-between">
				<label for="r_salvaged">Salvaged</label>
				<input
					class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
					name="r_salvaged"
					id="r_salvaged"
					value="0"
					type="number"
				/>
			</section>
			<section class="flex justify-between items-center">
				<div class="flex items-center">
					<img
						class="size-6 mr-2 shadow cursor-pointer"
						src="{{ url_for('static', filename='icons/') }}ecto.png"
						alt="Glob of Ectoplasm"
					/>
					<label for="r_ecto">Ecto</label>
				</div>
				<input
					class="justify-self-end text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
					name="r_ecto"
					id="r_ecto"
					value="0"
					type="number"
				/>
			</section>
		</section>
		<section class="flex flex-col rares col-span-1 gap-1">
			<p class="text-orange-500">Exotics</p>
			<section class="flex justify-between">
				<label for="exotic">Amount</label>
				<input
					class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
					name="exotic"
					id="exotic"
					value="0"
					type="number"
				/>
			</section>
			<section class="flex justify-between">
				<label for="e_salvaged">Salvaged</label>
				<input
					class="text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
					name="e_salvaged"
					id="e_salvaged"
					value="0"
					type="number"
				/>
			</section>
			<section class="flex justify-between items-center">
				<div class="flex items-center">
					<img
						class="size-6 mr-2 shadow cursor-pointer"
						src="{{ url_for('static', filename='icons/') }}ecto.png"
						alt="Glob of Ectoplasm"
					/>
					<label for="e_ecto">Ecto</label>
				</div>
				<input
					class="justify-self-end text-right px-2 w-12 bg-zinc-800 border border-zinc-700 rounded [appearance:textfield] [&::-webkit-outer-spin-button]:appearance-none [&::-webkit-inner-spin-button]:appearance-none"
					name="e_ecto"
					id="e_ecto"
					value="0"
					type="number"
				/>
			</section>
		</section>
	</section>
	<input
		class="mt-4 mb-20 px-4 py-2 bg-amber-600 hover:bg-amber-500 text-white rounded-lg cursor-pointer"
		type="submit"
		value="Submit"
	/>
</form>
<section class="w-full mb-20 lg:px-20">
	<p class="text-center">Average percentage outcome for Unidentified salvage</p>
	<p class="text-center text-sm text-zinc-400">(Your data)</p>
	<canvas id="user"></canvas>
	<section class="mt-4">
		<div class="flex items-center">
			<img
				src="{{ url_for('static', filename='icons/ecto.png') }}"
				alt="Glob of Ectoplasm"
				class="ecto-icon size-4 mr-2"
			/>
			<h2 class="text-sm text-zinc-400">Ecto salvage rates</h2>
		</div>
		<p><span class="text-yellow-400">Rares</span>: {{ ecto["r_ecto_rate"] }}%</p>
		<p><span class="text-orange-500">Exotics</span>: {{ ecto["e_ecto_rate"] }}%</p>
	</section>
</section>
<script>
	function updateRarityIcon(rarity) {
		const iconElement = document.getElementById("rarityIcon");
		iconElement.src = `{{ url_for('static', filename='icons/') }}rarity_${rarity}.png`;
		iconElement.alt = `${rarity} rarity icon`;
	}
	function incrementStack(type) {
		let inputType = "stack_" + type;
		const input = document.getElementById(inputType);
		let currentValue = parseInt(input.value) || 0;
		input.value = currentValue + 1;
	}
</script>
<script type="text/javascript">
	let userctx = document.getElementById("user")?.getContext("2d");

	const rawdata = {
		userblue: {{ posts["blue"]|safe }},
		usergreen: {{ posts["green"]|safe }},
		userrare: {{ posts["rare"]|safe }},
	};
	const processed = {
		userblue: [],
		usergreen: [],
		userrare: [],
	};
	const rows = ["userblue", "usergreen", "userrare"]

	for (const row of rows) {
		if (rawdata[row] === null) continue
		const amount = rawdata[row].amount
		for (const mat of [...{{materials|safe}}, "rare", "exotic"]) {
			percentage = (rawdata[row][mat] / amount) * 100
			processed[row].push(percentage);
		}
	}

	let userchart = new Chart(userctx, {
		type: "bar",
		data: {
			labels: [
				"Mithril", "Orichalcum", "Elder Wood", "Ancient Wood", "Silk",
				"Gossamer", "Thick Leather", "Hardened Leather", "Lucent Mote",
				"Reclaimed Metal", "Pain Sigil", "Enhancement Sigil", "Control Sigil",
				"Skill Charm", "Potence Charm", "Brilliance Charm",
				"Luck 10", "Luck 50", "Luck 100", "Luck 200", "Rare", "Exotic"
			],
			datasets: [
				{
					label: "Common",
					data: processed.userblue,
					minBarLength: 3,
					backgroundColor: "#62A4DA"
				},

				{
					label: "Masterwork",
					data: processed.usergreen,
					minBarLength: 3,
					backgroundColor: "#1a9306"
				},
				{
					label: "Rare",
					data: processed.userrare,
					minBarLength: 3,
					backgroundColor: "#fcd00b"
				},
			],
		},
		options: {
			plugins: {
				legend: {
					display: true
				},
				tooltip: {
					afterBody: "%"
				}
			}
		}
	});
</script>
{% endblock %}
